* {
    background: darkslategray;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 5rem 0 2rem 0;
    font-size: 3rem;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 2rem 0 2rem 0;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

button {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3rem;
    width: 5rem;
    margin: 1rem auto;
    padding-top: 0.25rem;
    background: firebrick;
    font-size: 2rem;
}