{{page-title "Test-App"}}

<h1>Testsida ember.js</h1>
<a href="./">
    <button>Hem</button>
</a>
<a href="./sida1">
    <button>1</button>
</a>
<a href="./sida2">
    <button>2</button>
</a>
<a href="./sida3">
    <button>3</button>
</a>

{{outlet}}